.chart-container {
  background-image: linear-gradient(to right, rgb(142, 134, 177), rgb(154, 180, 112));
  height: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px; /* Rounded corners for a softer look */
  font-family: 'Roboto', sans-serif; /* Modern and clean font */
  margin: 80px; /* Spacing for visual separation */
}


/* Ensure consistent padding */
.chart-container > * {
  padding: 10px;
}

/* Adjust margins for inner elements */
.chart-container > *:not(:last-child) {
  margin-bottom: 10px;
}
