.chart-container {
  background-image: linear-gradient(to right, rgb(142, 134, 177), rgb(154, 180, 112));
  height: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px; /* Rounded corners for a softer look */
  font-family: 'Roboto', sans-serif; /* Modern and clean font */
  margin: 80px; /* Spacing for visual separation */
}


.statistics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto; /* Adjusted margin for better centering */
  background-image: linear-gradient(to right, rgb(130, 192, 64), rgb(54, 96, 165));
  border-radius: 10px;
  color: white;
  padding: 20px; /* Increased padding for better spacing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added a subtle box shadow */
}

.statistics-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Adjusted width for full width within container */
  margin-bottom: 10px; /* Added margin bottom for spacing between items */
}

.statistics-item p {
  margin: 0; /* Removed padding and added margin for paragraph elements */
}

.statistics-title {
  font-family: "Arial", Helvetica, sans-serif;
  font-weight: bold; /* Added font weight for emphasis */
}
